extends ./main

block content 
    div.container.mg-top-25
            form(action="#", method="post")
                div.form-group
                    input.form-control(
                        type="text", 
                        name="client", 
                        id="cliente",
                        placeholder="Nome",
                        required)
                div.form-group    
                    input.form-control(
                        type="text",
                        name="cnpj",
                        id="cnpj",
                        placeholder="CNPJ",
                        required)
                div.form-group    
                    input.form-control(
                        type="text",
                        name="telefone",
                        id="telefone",
                        placeholder="Telefone",
                        required)
                div.form-group    
                    input.form-control(
                        type="email",
                        name="email",
                        id="email",
                        placeholder="E-mail",
                        required)
                div.form-group    
                    input.form-control(
                        type="text",
                        name="contato",
                        id="contato",
                        placeholder="Contato",
                        required)
                    
                button.btn-btn-success.col-md-12(type="submit") Cadastrar
                
