mixin form(client) 
    if !client

        div.form-group
            input.form-control(
                type="text", 
                name="cliente", 
                id="cliente",
                placeholder="Nome",
                required)
        div.form-group    
            input.form-control(
                type="text",
                name="cnpj",
                id="cnpj",
                placeholder="CNPJ",
                required)
        div.form-group    
            input.form-control(
                type="text",
                name="telefone",
                id="telefone",
                placeholder="Telefone",
                required)
        div.form-group    
            input.form-control(
                type="email",
                name="email",
                id="email",
                placeholder="E-mail",
                required)
        div.form-group    
            input.form-control(
                type="text",
                name="contato",
                id="contato",
                placeholder="Contato",
                required)
    else 
        div.form-group
            input.form-control(
                type="text", 
                name="cliente", 
                id="cliente",
                placeholder="Nome",
                value=client.cliente
                required)
        div.form-group    
            input.form-control(
                type="text",
                name="cnpj",
                id="cnpj",
                placeholder="CNPJ",
                value=client.cnpj
                required)
        div.form-group    
            input.form-control(
                type="text",
                name="telefone",
                id="telefone",
                placeholder="Telefone",
                value=client.telefone
                required)
        div.form-group    
            input.form-control(
                type="email",
                name="email",
                id="email",
                placeholder="E-mail",
                value=client.email
                required)
        div.form-group    
            input.form-control(
                type="text",
                name="contato",
                id="contato",
                placeholder="Contato",
                value=client.contato
                required)
        
    button.btn-btn-success.col-md-12(type="submit") Cadastrar